In [1]:
# 필요한 라이브러리를 가져오자.
# numpy, pandas
import numpy as np
import pandas as pd

In [2]:
import datetime
def make_datetime(row):
    return datetime.datetime.strptime(row, '%Y-%m-%d %H:%M:%S.%f')

In [3]:
from tqdm import tqdm
from tqdm import tqdm_notebook

In [4]:
df = pd.read_csv('lookback_data.csv')

In [5]:
df.head(50)

,adid,datetime,partner_key,event_name,amount,partner_index
0,0000a0276a0870de648c427edb012cba,2019-08-09 22:07:30.754,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
1,0000a0276a0870de648c427edb012cba,2019-08-17 22:09:41.193,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
2,0000ae28e29e570fd4cd3d1229b89ec2,2019-08-26 05:48:17.865,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d
3,0000be453b034a699e09ba7ec1046fbf,2019-08-31 00:18:02.977,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d
4,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-13 14:09:15.755,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
5,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-18 09:32:24.286,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
6,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-18 09:32:25.131,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
7,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-18 09:32:25.343,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
8,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-19 07:17:06.501,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
9,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-20 04:11:55.896,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
10,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-21 21:12:01.407,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
11,0001b3cb51c4829ce5fc8d1aed53d2f1,2019-08-22 15:49:00.633,NaN,abx:purchase,93080.0,conv
12,0001b3cb51c4829ce5fc8d1aed53d2f1,2019-08-23 03:08:07.050,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d
13,0001d1bf27b6e4e8ed9e845a25c780ac,2019-08-02 09:36:03.165,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d
14,0001d1bf27b6e4e8ed9e845a25c780ac,2019-08-03 04:02:37.130,NaN,abx:purchase,97200.0,conv
15,0001d1bf27b6e4e8ed9e845a25c780ac,2019-08-03 04:02:55.438,NaN,abx:purchase,97200.0,conv
16,0001d1bf27b6e4e8ed9e845a25c780ac,2019-08-03 04:03:09.511,NaN,abx:purchase,97200.0,conv
17,0001d1bf27b6e4e8ed9e845a25c780ac,2019-08-03 04:03:15.365,NaN,abx:purchase,97200.0,conv
18,0001d85725695cd7bf6f141c0adde63b,2019-08-27 02:20:54.397,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d
19,0001f447235e896549be33074341a268,2019-08-04 05:56:28.212,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
20,0001f447235e896549be33074341a268,2019-08-04 05:56:30.570,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
21,0001f447235e896549be33074341a268,2019-08-12 15:50:00.747,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
22,0001f447235e896549be33074341a268,2019-08-15 06:55:49.056,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
23,00028182eec85ba4bbfdc6d0276c2c26,2019-08-07 22:30:02.468,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
24,00028182eec85ba4bbfdc6d0276c2c26,2019-08-08 09:03:49.967,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
25,00028182eec85ba4bbfdc6d0276c2c26,2019-08-08 23:19:31.135,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
26,00028182eec85ba4bbfdc6d0276c2c26,2019-08-09 06:25:11.881,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
27,00028182eec85ba4bbfdc6d0276c2c26,2019-08-09 15:22:57.933,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
28,00028182eec85ba4bbfdc6d0276c2c26,2019-08-10 03:03:09.353,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
29,00028182eec85ba4bbfdc6d0276c2c26,2019-08-10 05:15:03.098,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
30,00028182eec85ba4bbfdc6d0276c2c26,2019-08-10 10:04:26.252,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
31,00028182eec85ba4bbfdc6d0276c2c26,2019-08-10 23:23:39.028,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
32,00028182eec85ba4bbfdc6d0276c2c26,2019-08-11 03:22:57.672,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
33,00028182eec85ba4bbfdc6d0276c2c26,2019-08-11 08:47:14.406,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
34,00028182eec85ba4bbfdc6d0276c2c26,2019-08-11 10:42:55.134,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
35,00028182eec85ba4bbfdc6d0276c2c26,2019-08-13 08:13:25.668,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e
36,0002a72693ce29ea6ce3534fb24b8df6,2019-08-02 08:40:24.623,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d
37,000363837cf190f9a4b4d418fa8275f6,2019-08-06 12:00:17.520,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
38,000363837cf190f9a4b4d418fa8275f6,2019-08-06 12:00:21.693,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
39,000363837cf190f9a4b4d418fa8275f6,2019-08-07 21:08:45.371,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
40,000363837cf190f9a4b4d418fa8275f6,2019-08-07 21:52:42.189,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
41,000363837cf190f9a4b4d418fa8275f6,2019-08-07 21:53:04.211,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
42,000363837cf190f9a4b4d418fa8275f6,2019-08-07 21:53:32.920,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
43,000363837cf190f9a4b4d418fa8275f6,2019-08-10 09:46:06.197,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
44,000363837cf190f9a4b4d418fa8275f6,2019-08-11 12:14:59.672,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
45,000363837cf190f9a4b4d418fa8275f6,2019-08-11 22:06:11.868,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a
46,000374b8254188e9932a010bfc5205e9,2019-08-09 07:11:08.879,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d
47,000374b8254188e9932a010bfc5205e9,2019-08-15 08:44:24.113,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d
48,00037aeaf58b2404132b49ea7e8f31cc,2019-08-09 15:31:03.629,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d
49,000394e1488912483dfa075850536130,2019-08-12 02:03:57.217,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e

In [5]:
#기여한 곳 : 1, 기여하지 않은 곳 : 0 을 각각 표시해주기 위한 column인 contributed를 추가하고, 0으로 초기화
df['contributed']=0

In [6]:
#이제 datetime 열의 내용들은 string이 아니라 datetime object가 되어 연산이 빨라짐.
df['datetime'] = df['datetime'].apply(make_datetime)

In [7]:
for index in tqdm_notebook(df.index):
    if(df['partner_index'][index]=='conv'):
        standard_adid = df['adid'][index]
        standard_datetime = df['datetime'][index]
        tmp_index = index-1
        df['contributed'][index]=1
        while(True):
            if(standard_adid==df['adid'][tmp_index]):
                if((standard_datetime-df['datetime'][tmp_index]).total_seconds()<604800):
                    df['contributed'][tmp_index] = 1
                else:
                    break;
            else:
                break
            tmp_index = tmp_index - 1

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  """Entry point for launching an IPython kernel.

HBox(children=(IntProgress(value=0, max=873558), HTML(value='')))

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#여기서 코드 상 임시저장을 해야됨 ㅠ
df.to_csv('lookback_data_marked_one.csv',encoding = 'utf-8', index = False)

In [9]:
####여기서부터 null로 끝나는 path들을 만드는 과정임####

In [10]:
#0만 남길 테이블을 만들어보자
df_zero = pd.read_csv('lookback_data_marked_one.csv')

In [11]:
#1인 행들을 제거하는 코드임
indexNames = df_zero[df_zero['contributed'] == 1 ].index
df_zero.drop(indexNames , inplace=True)

In [12]:
df_zero.head(50)

,adid,datetime,partner_key,event_name,amount,partner_index,contributed
0,0000a0276a0870de648c427edb012cba,2019-08-09 22:07:30.754,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
1,0000a0276a0870de648c427edb012cba,2019-08-17 22:09:41.193,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
2,0000ae28e29e570fd4cd3d1229b89ec2,2019-08-26 05:48:17.865,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
3,0000be453b034a699e09ba7ec1046fbf,2019-08-31 00:18:02.977,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
4,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-13 14:09:15.755,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
5,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-18 09:32:24.286,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
6,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-18 09:32:25.131,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
7,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-18 09:32:25.343,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
8,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-19 07:17:06.501,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
9,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-20 04:11:55.896,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
10,0001b3b01a0e9adfdfab4279212c4f2c,2019-08-21 21:12:01.407,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
12,0001b3cb51c4829ce5fc8d1aed53d2f1,2019-08-23 03:08:07.050,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
18,0001d85725695cd7bf6f141c0adde63b,2019-08-27 02:20:54.397,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
19,0001f447235e896549be33074341a268,2019-08-04 05:56:28.212,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
20,0001f447235e896549be33074341a268,2019-08-04 05:56:30.570,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
21,0001f447235e896549be33074341a268,2019-08-12 15:50:00.747,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
22,0001f447235e896549be33074341a268,2019-08-15 06:55:49.056,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
23,00028182eec85ba4bbfdc6d0276c2c26,2019-08-07 22:30:02.468,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
24,00028182eec85ba4bbfdc6d0276c2c26,2019-08-08 09:03:49.967,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
25,00028182eec85ba4bbfdc6d0276c2c26,2019-08-08 23:19:31.135,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
26,00028182eec85ba4bbfdc6d0276c2c26,2019-08-09 06:25:11.881,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
27,00028182eec85ba4bbfdc6d0276c2c26,2019-08-09 15:22:57.933,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
28,00028182eec85ba4bbfdc6d0276c2c26,2019-08-10 03:03:09.353,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
29,00028182eec85ba4bbfdc6d0276c2c26,2019-08-10 05:15:03.098,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
30,00028182eec85ba4bbfdc6d0276c2c26,2019-08-10 10:04:26.252,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
31,00028182eec85ba4bbfdc6d0276c2c26,2019-08-10 23:23:39.028,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
32,00028182eec85ba4bbfdc6d0276c2c26,2019-08-11 03:22:57.672,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
33,00028182eec85ba4bbfdc6d0276c2c26,2019-08-11 08:47:14.406,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
34,00028182eec85ba4bbfdc6d0276c2c26,2019-08-11 10:42:55.134,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
35,00028182eec85ba4bbfdc6d0276c2c26,2019-08-13 08:13:25.668,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
36,0002a72693ce29ea6ce3534fb24b8df6,2019-08-02 08:40:24.623,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
37,000363837cf190f9a4b4d418fa8275f6,2019-08-06 12:00:17.520,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
38,000363837cf190f9a4b4d418fa8275f6,2019-08-06 12:00:21.693,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
39,000363837cf190f9a4b4d418fa8275f6,2019-08-07 21:08:45.371,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
40,000363837cf190f9a4b4d418fa8275f6,2019-08-07 21:52:42.189,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
41,000363837cf190f9a4b4d418fa8275f6,2019-08-07 21:53:04.211,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
42,000363837cf190f9a4b4d418fa8275f6,2019-08-07 21:53:32.920,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
43,000363837cf190f9a4b4d418fa8275f6,2019-08-10 09:46:06.197,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
44,000363837cf190f9a4b4d418fa8275f6,2019-08-11 12:14:59.672,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
45,000363837cf190f9a4b4d418fa8275f6,2019-08-11 22:06:11.868,T1m2A6iwPUemMh5gQZ3FRA,NaN,NaN,a,0
46,000374b8254188e9932a010bfc5205e9,2019-08-09 07:11:08.879,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
47,000374b8254188e9932a010bfc5205e9,2019-08-15 08:44:24.113,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
48,00037aeaf58b2404132b49ea7e8f31cc,2019-08-09 15:31:03.629,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
49,000394e1488912483dfa075850536130,2019-08-12 02:03:57.217,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
51,0003ac6dca2dd0a2389236f7cb1ef99a,2019-08-28 00:18:11.087,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
52,0004002a7f0c2d45e7bd2c124318a168,2019-08-07 22:25:43.513,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
53,0004002a7f0c2d45e7bd2c124318a168,2019-08-11 12:19:44.273,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
54,0004002a7f0c2d45e7bd2c124318a168,2019-08-11 22:27:38.274,41loF2NK40GBUzUBDC1Zrw,NaN,NaN,e,0
56,000415aa04ee9c6a7265bc5d59e141ea,2019-08-04 15:29:52.813,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0
57,000415aa04ee9c6a7265bc5d59e141ea,2019-08-06 07:36:33.362,0BChBVxZSUOhg3yJgn7o0A,NaN,NaN,d,0

In [13]:
#인덱스를 다시 매겨보자
df_zero = df_zero.reset_index(drop=True)

In [14]:
#일단 adid_same을 만들어보자
df_zero['adid2']=df_zero['adid'].shift(1)
df_zero['adid_same']=df_zero['adid']==df_zero['adid2']

In [15]:
#새로 불러왔으니 다시 datetime을 string->datetime으로 타입변경
df_zero['datetime'] = df_zero['datetime'].apply(make_datetime)

In [16]:
#zip()으로 range(len(df)), adid_same, datetime들만 존재하는 튜플을 만들어보자!
#zip은 튜플로 구성된 iterator를 반환해준다.
zipped_zero = zip(range(len(df_zero)),df_zero['adid_same'],df_zero['datetime'], df_zero['partner_index'])

In [17]:
#새로운 dataframe을 만들자. 얘는 나중에 null로 끝날 패스들의 행을 모두 갖게 됨
columns = ['path', 'conversion','null', 'amount']
result_zero = pd.DataFrame(columns=columns)

In [18]:
#일단 session에 포함될 수 있는 이벤트의 종류는 총 몇개인가? 확인 차 넣은 코드
df_zero['partner_index'].unique()

array(['e', 'd', 'a', 'f', 'b', 'c'], dtype=object)

In [19]:
#session이 언제 나뉘어야 할까?
# 1. adid가 전행과 다를 때
# 2. 기준점으로부터 시간이 날짜수*86400초를 넘었을 때

#이 null_paths에는 생성된 모든 패스들이 생성된 순서대로 담기게 된다. 이후 result_zero의 'path' 열에 바로 붙일 것임!
null_paths = []

#얘들은 아래 코드를 돌리기 위해 외부에 설정해놓은 변수
start = True
standard_datetime = ""
path_list = []
for row in tqdm_notebook(list(zipped_zero)):
    if(start):#아예 첫 행
        standard_datetime = row[2]
        path_list.append(row[3])
        start = False
    else:#그 외의 행
        #adid가 같은 경우
        if(row[1]):
            #룩백 윈도우를 넘은 경우
            if((row[2]-standard_datetime).total_seconds()>=604800):
                path = ''.join(path_list)
                path_list = []
                path_list.append(row[3])
                null_paths.append(path)
                standard_datetime = row[2]
            else:
                path_list.append(' > ')
                path_list.append(row[3])
        #adid가 바뀐 경우 : 당연히 세션이 새로 시작되어야 함
        else:
            path = ''.join(path_list)
            path_list = []
            path_list.append(row[3])
            null_paths.append(path)
            standard_datetime = row[2]

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:12: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  if sys.path[0] == '':

HBox(children=(IntProgress(value=0, max=557411), HTML(value='')))

In [20]:
result_zero['path']=null_paths
result_zero['conversion']=0
result_zero['null']=1
result_zero['amount']=0

In [21]:
####여기서부터 conversion으로 끝나는 path들을 만드는 과정임####

In [22]:
df_one = pd.read_csv('lookback_data_marked_one.csv')

In [23]:
#0인 행들을 제거하는 코드임
indexNames = df_one[df_one['contributed'] == 0 ].index
df_one.drop(indexNames , inplace=True)

In [24]:
#df를 뒤집어보자
df_one = df_one.iloc[::-1]

In [25]:
#인덱스를 다시 매겨보자
df_one = df_one.reset_index(drop=True)

In [26]:
#adid_same을 만들어보자.
df_one['adid2']=df_one['adid'].shift(1)
df_one['adid_same']=df_one['adid']==df_one['adid2']

In [27]:
#이제 datetime 열의 요소들은 string이 아니라 실제 datetime
df_one['datetime'] = df_one['datetime'].apply(make_datetime)

In [28]:
#zip()으로 range(len(df)), adid_same, datetime, partner_index들만 존재하는 튜플을 만들어보자!
#zip은 튜플로 구성된 iterator를 반환해준다.
zipped_one = zip(range(len(df_one)),df_one['adid_same'],df_one['datetime'], df_one['partner_index'])

In [29]:
#새로운 dataframe을 만들자. columns는 위와 동일하니 그대로.
result_one = pd.DataFrame(columns=columns)

In [30]:
#일단 session에 포함될 수 있는 이벤트의 종류는?
df_one['partner_index'].unique()

array(['conv', 'd', 'a', 'e'], dtype=object)

In [31]:
conversion_paths = []
amounts = []

In [32]:
#dict를 안 쓰는 버전으로 해보자
#session이 언제 나뉘어야 할까?
# 1. adid가 전행과 다를 때
# 2. 기준점으로부터 시간이 날짜수*86400초를 넘었을 때

start = True
standard_datetime = ""
path_list = []
limit = len(df_one)
for row in tqdm_notebook(list(zipped_one)):
    if(row[3]=='conv'):
        standard_datetime = row[2]
        last = True
        tmp_index = row[0]+1
        if(tmp_index==limit):
            break
        while(True):
            if(df_one['adid_same'][tmp_index]):
                if((standard_datetime-df_one['datetime'][tmp_index]).total_seconds()<604800):
                    if(df_one['partner_index'][tmp_index]!='conv'):
                        if(last):
                            path_list.append(df_one['partner_index'][tmp_index])
                            last = False
                        else:
                            path_list.insert(0, ' > ')
                            path_list.insert(0, df_one['partner_index'][tmp_index])
                    tmp_index = tmp_index + 1
                    if(tmp_index == limit):
                        break
                    continue
                else:
                    break
            else:
                break
        if(len(path_list)>0):
            conversion_paths.append(''.join(path_list))
            amounts.append(df_one['amount'][row[0]])
            path_list = []

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:10: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  # Remove the CWD from sys.path while we load stuff.

HBox(children=(IntProgress(value=0, max=316147), HTML(value='')))

In [33]:
result_one['path']=conversion_paths
result_one['amount']=amounts
result_one['conversion']=1
result_one['null']=0

In [34]:
#이제 result_zero와 result_one을 합치자.
result_complete = pd.concat([result_zero, result_one], ignore_index=True)

In [35]:
result_complete = result_complete.rename(columns = {'path': 'path', 'conversion': 'total_conversions', 'null': 'total_null', 'amount': 'total_conversion_value'})

In [36]:
result_complete.tail(50)

,path,total_conversions,total_null,total_conversion_value
367029,d,1,0,21700.0
367030,d,1,0,49000.0
367031,d > d > d,1,0,25510.0
367032,d > d > d,1,0,18970.0
367033,d > d > d,1,0,18970.0
367034,d,1,0,19900.0
367035,d,1,0,668000.0
367036,d > d,1,0,37870.0
367037,d > d,1,0,15140.0
367038,d,1,0,30920.0
367039,d,1,0,87800.0
367040,d > d,1,0,29900.0
367041,d > d,1,0,59900.0
367042,d > d,1,0,56050.0
367043,d > d,1,0,39900.0
367044,d,1,0,31000.0
367045,e > e > e > e > e > e > e > e,1,0,39000.0
367046,d,1,0,45060.0
367047,d,1,0,6560.0
367048,d,1,0,81880.0
367049,d,1,0,39000.0
367050,a,1,0,74900.0
367051,d > d,1,0,39000.0
367052,d > d,1,0,79900.0
367053,d > d,1,0,79900.0
367054,d > d,1,0,79900.0
367055,d > d,1,0,79900.0
367056,d,1,0,1198000.0
367057,d,1,0,269000.0
367058,d,1,0,269000.0
367059,d,1,0,39900.0
367060,d,1,0,39900.0
367061,d,1,0,25170.0
367062,d,1,0,25170.0
367063,d,1,0,129000.0
367064,e,1,0,151000.0
367065,a > a,1,0,58900.0
367066,d,1,0,43200.0
367067,d,1,0,43200.0
367068,d,1,0,43200.0
367069,d,1,0,187150.0
367070,d > d,1,0,69900.0
367071,d,1,0,1125040.0
367072,d,1,0,49900.0
367073,d,1,0,49900.0
367074,d,1,0,18910.0
367075,d,1,0,97200.0
367076,d,1,0,97200.0
367077,d,1,0,97200.0
367078,d,1,0,97200.0

In [37]:
result_complete.to_csv('LB_201908.csv', encoding = 'utf-8', index = False)